$green:#00BC87;
$logowidth:50px;

  
body{
  background-color: rgb(199, 199, 199);
  // for popup noscroll 

  font-family: Ubuntu;
  font-size: 32px;
  line-height: 1.8;
}
.text-blue{
  color:$blue;
}
.hidden{
  display: none;
  overflow: hidden;
}
.flex-center{display: flex; justify-content: center;   align-items: center; }

// footer to bottom
.body , html{
height: 100%; 
min-height: 100vh;
}
.header , footer {
  flex-grow: 0;
}
.main{
  flex-grow: 1;
}

.main-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: #fff;
  overflow: hidden;
 
}

html , body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: inherit;
}
 

  h1,h2,h3,h4{
    text-align: center;
    line-height: 1.5;
  }

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  
 
 