 
.button{
   transition: 0.2s;
    display: inline-block;
    padding:16px 16px; 
    border:solid $blue 2px;
    border-radius: 2px;
    font-size: 22px;
    line-height: 27px; 
    font-family: ubuntu; 
    text-decoration: none;
      cursor: pointer;
      color:white;
      background-color: $blue;
  }
  
  .button:hover{
    background-color:  white;
    color:$blue;
    text-decoration: none;
  }

  .button--invert{
    background-color:  white;
    color:$blue;
    &:hover{
      color:white;
      background-color: $blue;
    }
  }
  
 


