.button {
  transition: 0.2s;
  display: inline-block;
  padding: 12px;
  border: solid $blue 2px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  font-family: $ubuntu;
  text-decoration: none;
  cursor: pointer;
  color:#ffffff;
  background-color: $blue;
  transition: .3s;

  @include bsmob {
    font-size: 22px;
    line-height: 27px;
    padding: 16px;
  }

  &:hover {
    background-color: #3b68ff;
    border: solid transparent 2px;
    color: #ffffff;
    text-decoration: none;
  }

  &--invert {
    background-color: #ffffff;
    color: $blue;

    &:hover {
      color: #3b68ff;
      background-color: #ffffff;
      border: solid #3b68ff 2px;
    }
  }

  &-mobile {
    border-radius: 8px;
  }
}