@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

.cno-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .swiper-tabs {
    display: none;
  }

  &__content {
    overflow: hidden;
    padding: 0 5px 40px;
  }

  &__title-content {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  &__title {
    color: $blue;
    font-size: 25px;
    font-weight: bold;
    @include bsMob {
      font-size: 40px;
    }
  }

  &__sub-title {
    text-align: center;
    font-size: 18px;
    color: $dark;
    padding-bottom: 30px;
    @include bsMob {
      font-size: 30px;
    }
  }


  &__nav-link {
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    background-color: white;
    margin-top: 30px;
    box-shadow: -1px 4px 8px 0px rgba(44, 46, 47, 0.2);
    @include bsMob {
      padding: 10px 25px;
    }

    svg {
      fill: $lightDark;
    }
  }

  &__wrap-text {
    padding-left: 10px;
    color: $lightDark;
    display: flex;
    flex-direction: column;
    @include bsMob {
      padding-left: 40px;
    }
  }

  &__nav-title {
    padding-top: 13px;
    text-align: left;
    font-size: 18px;
    @include bsMob {
      font-size: 25px;
    }
  }

  &__nav-text {
    font-size: 16px;
    text-align: left;
    @include bsMob {
      font-size: 20px;
    }
  }

  &__box {
    @include bsMob {
      flex-direction: column;
    }
    @include xl {
      flex-direction: row;
    }
  }

  .nav {
    @include bsMob {
      width: 100%;
    }
    @include xl {
      width: 50%;
    }
  }

  .nav-link {
    border: none;

    &:hover {
      background-color: $light-blue;
    }


    &:hover .cno-tabs__nav-title {
      color: $light1;
    }

    &:hover .cno-tabs__nav-text {
      color: $light1;
    }

    &:hover svg {
      fill: $light1;
      animation: pulse 2s ease-in-out;
    }
  }

  .nav-pills > .nav-link {
    &:hover {
      background-color: rgba(167, 164, 164, 0.16);
    }

    &:hover .cno-tabs__nav-title {
      color: $lightDark;
    }

    &:hover .cno-tabs__nav-text {
      color: $lightDark;
    }

    &:hover svg {
      fill: $lightDark;
    }
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $light-blue;
    color: black;

    .cno-tabs__nav-text {
      color: $light1;
    }

    .cno-tabs__nav-title {
      color: $light1;
    }

    svg {
      fill: $light1;
    }
  }

  .tab-content {
    margin-left: 15px;
  }

  .swiper-tabs {
    @extend .swiper-wrapper;
  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }

  .swiper-pagination-bullets {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    @include bsMob {
      display: none;
    }
  }

  .swiper-slide {
    width: 100%;
  }
}