.cno-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .swiper-tabs {
    display: none;
  }

  &__content {
    overflow: hidden;
  }

  &__title-content {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  &__title {
    color: $blue;
    font-size: 25px;
    font-weight: bold;
    @include bsMob {
      font-size: 40px;
    }
  }

  &__sub-title {
    text-align: center;
    font-size: 18px;
    color: $dark;
    padding-bottom: 30px;
    @include bsMob {
      font-size: 30px;
    }
  }

  .nav-link {
    border: none;

    &:hover {
      background-color: $light-blue;
    }


    &:hover .cno-tabs__nav-title {
      color: $light1;
    }

    &:hover .cno-tabs__nav-text {
      color: $light1;
    }

    &:hover svg {
      fill: $light1;
    }
  }

  &__nav-link {
    padding: 10px 25px;
    margin-bottom: 30px;
    display: flex;
    background-color: white;


    svg {
      fill: $lightDark;
    }
  }

  &__wrap-text {
    padding-left: 40px;
    color: $lightDark;
    display: flex;
    flex-direction: column;
  }

  &__nav-title {
    padding-top: 13px;
    text-align: left;
    font-size: 18px;
    @include bsMob {
      font-size: 25px;
    }
  }

  &__nav-text {
    font-size: 16px;
    text-align: left;
    @include bsMob {
      font-size: 20px;
    }
  }

  .nav {
    width: 35%;
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $light1;
    color: black;
    box-shadow: 0 6px 12px 0 rgba(118, 117, 117, 0.31);

    &:hover {
      background-color: $light-blue;
    }

    &:hover .cno-tabs__nav-title {
      color: $light1;
    }

    &:hover .cno-tabs__nav-text {
      color: $light1;
    }

    &:hover svg {
      fill: $light1;
    }


    .cno-tabs__nav-title {
      color: $light-blue;
    }

    svg {
      fill: $light-blue;
    }
  }

  .tab-content {
    margin-left: 15px;
  }

  .swiper-tabs {
    @extend .swiper-wrapper;
  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }

  .swiper-pagination-bullets {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    @include bsMob {
      display: none;
    }
  }
}