.cno-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .swiper-tabs {
    display: none;
  }

  &__content {
    overflow: hidden;
    padding: 0 5px 40px;
  }

  &__title-content {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  &__title {
    color: $blue;
    font-size: 25px;
    font-weight: bold;
    @include bsMob {
      font-size: 40px;
    }
  }

  &__sub-title {
    text-align: center;
    font-size: 18px;
    color: $dark;
    padding-bottom: 30px;
    @include bsMob {
      font-size: 30px;
    }
  }


  &__nav-link {
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    background-color: white;
    margin-top: 30px;
    box-shadow: -1px 4px 8px 0px rgba(44, 46, 47, 0.2);
    @include bsMob {
      position: relative;
      padding: 10px 25px;
    }
  }

  &__nav-icon {
    fill: $lightDark;

    @include bsMob {
      transition: all 0.3s linear;
      transform: scale(1) translate(0, 0);
      position: absolute;
    }
  }

  &__wrap-text {
    width: 100%;
    padding-left: 10px;
    color: $lightDark;
    display: flex;
    flex-direction: column;
    @include bsMob {
      padding: 0 10px 35px 55px;
    }
  }

  &__nav-title {
    padding-top: 13px;
    text-align: left;
    font-size: 18px;
    @include bsMob {
      font-size: 25px;
    }
  }

  &__nav-text {
    font-size: 16px;
    text-align: left;
    @include bsMob {
      opacity: 1;
      position: absolute;
      left: 1px;
      top: 0;
      transform: none;
      transition: all 0.5ms linear;
      font-size: 20px;
    }
  }

  &__text-container {
    @include bsMob {
      min-height: 70px;
      position: relative;
    }
  }

  &__nav-text-opacity {
    font-size: 16px;
    text-align: left;
    @include bsMob {
      opacity: 0;
      position: absolute;
      left: 1px;
      top: 160px;
      transition: all 0.5ms linear;
      font-size: 20px;
    }
  }

  &__box {
    @include bsMob {
      flex-direction: column;
    }
    @include xl {
      flex-direction: row;
    }
  }

  .nav {
    @include bsMob {
      width: 100%;
    }
    @include xl {
      width: 50%;
    }
  }


  .nav-link {
    overflow: hidden;
    border: none;

    &:hover {
      background-color: rgba(167, 164, 164, 0.16);
    }


    &:hover .cno-tabs__nav-text {
      @include bsMob {
        opacity: 0;
        transition: all 0.5s ease;
        transform: translatey(-160px);
      }
    }

    &:hover .cno-tabs__nav-text-opacity {
      @include bsMob {
        opacity: 1;
        visibility: visible;
        transform: translatey(-160px);
        transition: all 0.5s ease;
      }
    }

    &:hover .cno-tabs__nav-icon {
      @include bsMob {
        transform: scale(0.6) translate(10px, 0);
        transition: all 0.5ms linear;
      }
    }
  }


  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $light-blue;
    color: black;

    .cno-tabs__nav-text {
      color: $light1;
    }

    .cno-tabs__nav-text-opacity {
      color: $light1;
    }

    .cno-tabs__nav-title {
      color: $light1;
    }

    svg {
      fill: $light1;
    }
  }

  .tab-content {
    margin-left: 15px;
  }

  .swiper-tabs {
    @extend .swiper-wrapper;
  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }

  .swiper-pagination-bullets {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    @include bsMob {
      display: none;
    }
  }

  .swiper-slide {
    width: 100%;
  }

  p {
    width: 100%;
  }
}