.demonstration {
  width: 100%;
  background: transparent linear-gradient(278deg, #2E54D4 0%, #1D3DA8 0%, #061146 100%) 0% 0% no-repeat padding-box;
  opacity: 0.86;
  padding-top: 140px;
  padding-bottom: 50px;
  @include bsmob {
    padding-top: 210px;
  }

  &__wrap {
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    background-color: $light1;
    border-radius: 7px;
    box-shadow: 0 3px 25px #00000029;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include bsmob {
      width: 80%;
      padding: 50px 25px;
    }
    @include lg {
      padding: 50px 100px;
    }
  }

  &__form {
    width: 80%;
    @include bsmob {
      width: 100%;
    }
  }


  &__title {
    padding: 0 15px;
    font-size: 25px;
    color: $blue;
    @include bsmob {
      font-size: 40px;
    }
  }

  &__sub-title {
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
    color: $dark;
    @include bsmob {
      font-size: 20px;
    }

  }

  &__form-box {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include md {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  ::placeholder {
    font-size: 16px;
    padding: 0;
    @include bsmob {
      font-size: 18px;
    }
  }

  label {
    font-size: 15px;
    color: $lightGray;
    padding: 15px 0 10px 15px;
    @include bsmob {
      padding: 30px 0 10px 15px;
    }
  }

  input, textarea {
    padding: 10px 18px;
    width: 100%;
    max-width: 100%;
    margin-right: 15px;
    border: 0.5px solid #626164;
    border-radius: 8px;
    opacity: 0.62;
    font-size: 18px;
  }


  &__textarea {
    height: 250px;
    resize: none;
  }

  &__item-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include md {
      width: 48%;
    }
  }

  &__submit {
    padding: 10px;
    border: none;
    width: 100%;
    background-color: $light-blue;
    border-radius: 2px;
    font-size: 22px;
    color: $light1;
    transition: background-color 1s ease;

    &:hover {
      background-color: $blue;
      transition: background-color 1s ease;
    }
  }

  ul {
    padding: 0;
  }

  &__bottom-text {
    padding-top: 45px;
    font-size: 18px;
    color: $light1;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    @include bsmob {
      width: 40%;
    }

    a {
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        color: $light1;
      }
    }
  }
}


