.get-started{
	background: transparent linear-gradient(0deg, #061146 0%, #061146 40%, #08144D 74%, #021D77 100%) 0% 0% no-repeat padding-box;
	padding: 200px 0;
	&__wrap{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media screen and(min-width: $lg){
			flex-wrap: nowrap;
			max-width: 1300px;
			justify-content: space-between;
		}
	}
	&__wrap-form{
		margin-bottom: 50px;
		&.active{
			background-image: url("../../images/get-started/circle.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain; 
			.get-started{
				&__form{
					opacity: 1;
					max-width: 580px;					
					border-radius: 33px;
					padding: 30px;					
					@media screen and(min-width: $xl){
						padding: 100px 80px;
					}
				}
				&__form-title{
					font-size: 40px;
				}
				&__form-text{
					font-size: 20px;
				}
			}
		}		
	}
	&__form{
		position: relative;
		padding: 30px;
		max-width: 535px;
		background-color: #fff;
		border-radius: 14px;
		height: 100%;
		margin: 0 50px;
		opacity: 0.6;
		transition: .3s;
		@media screen and(min-width: $xl){
			padding: 50px 56px;
		}
		
	}
	&__form-title{
		color: #2E54D4;
		font-size: 30px;
		font-weight: bolder;
	}
	&__form-text{
		text-align: center;
		font-size: 18px;
		padding-bottom: 15px;		
		@media screen and(min-width: $xl){
			padding-bottom: 40px;
		}
	}
	.form-control{
		border-radius: 10px;
		padding: 16px 20px;
		font-size: 18px;
		color: #989898;
		margin-bottom: 15px;
		@media screen and(min-width: $xl){
			margin-bottom: 32px;
		}
		
	}
	.btn{
		padding: 18px;
		font-size: 22px;
	}
}