.get-started { 
  background: transparent linear-gradient(0deg, #061146 0%, #061146 40%, #08144D 74%, #021D77 100%) 0% 0% no-repeat padding-box;
  padding: 180px 0 200px 0;
  @include md {
    padding: 300px 0 200px 0;
  }
  @include wide-screen-lg {
    padding: 350px 0 200px 0;
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include xl {
      justify-content: space-between;
    }
  }

  &__moving-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
    right: 0;
    z-index: 0; 
    text-align: center;
    display: none;
    @include xl{
      display: block;
    }

    // img {
    //   transition: all 0.5s ease;
    //   width: auto;
    //   max-width: 100%;
    //   height: 100%;
    //   max-height: 700px;
    //   top:50%;
    
    //   @include xl {
    //     position: absolute;
    //     top: 50%;
    //     left: 101%;
    //     transform: translate(-100% , -50%);
    //   }
    // }
  }

  &__form {
    position: relative;
    z-index: 1;
    transition: 0.3s;
    position: relative;
    background-color: #fff;
    padding: 15px 20px;
    width: 100%;
    border-radius: 14px;
    height: 100%;
    margin: 0 5px;
    @include sm {
      // margin: 0 50px;
      padding: 45px 40px;
      max-width: 900px;
      border-radius: 14px;
      height: 100%;
      margin: 0 auto;
    }

    &.shadow:after {
      pointer-events: none;
      @include xl {
        pointer-events: all;
        cursor: pointer;
        background: rgba(#00000029, .3);
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 14px;
      }
    }

    &.active {
      @include xl {
        transform: scale(1.2);
        transition: 0.3s;
        position: relative;
        border-radius: 33px;
        &.shadow:after {
          pointer-events: none;
          background: transparent;
        }
        .get-started {
          &__form-title {
            font-size: 40px;
            line-height: (54/40);
          }

          &__form-text {
            font-size: 20px;
          }
        }
      }
    }
  }

  &__form-title {
    color: #2E54D4;
    font-size: 22px;

    @include md {
      font-size: 30px;
    }
    font-weight: bolder;
    margin-bottom: 20px;
  }

  &__form-text {
    text-align: center;
    font-size: 16px;
    padding-bottom: 22px;
    @include md {
      font-size: 18px;
      padding-bottom: 30px;
    }

    line-height: (35/18);
    letter-spacing: 0;

  }

  .form-control {
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 15px;
    @include md {
      font-size: 18px;
      padding: 10px 28px;
    } 
    color: #362828;
    margin-bottom: 22px;
  }

  .btn {
    transition: 0.5s ease;
    border: none;
    padding: 8px;
    font-size: 16px;
    background-color: #82AAFD;
    font-weight: 700;
    @include md {
      padding: 14px;
      font-size: 22px;
    } 
    &:hover {
      transition: 0.5s ease;
      background-color: $blue;
    }
  }
 

  &__form { 
    &__second {
      display: none;
      @include xl {
        display: block;
      }
    } 
    &__first.active~.get-started__moving-circle{
      img {
            left: 0px;
            transform: translate(0 , -50%);
       }
    }
  }

  &__tabs {
    font-size: 0;
    text-align: center;
    margin-bottom: 40px;

    &-activator {
      background: transparent;
      border: white 1px solid;

      &:last-child {
        border-left: none;
      }

      @include md {
        min-width: 210px;
        text-align: center;
      }
      @include xl {
        display: none;
      }
    }
  }
}

.contribution-tab {
  .get-started__tabs-activator:first-child {
    background-color: $light-blue;
  }

  .get-started__form__first {
    display: block;
  }

  .get-started__form__second {
    display: none;
    @include xl {
      display: block;
    }
  }
}

.demonstration-tab {
  .get-started__tabs-activator:last-child {
    background-color: $light-blue;
  }

  .get-started__form__second {
    display: block;
  }

  .get-started__form__first {
    display: none;
    @include xl {
      display: block;
    }
  }
}
