

.header{
    z-index: 10;
    &__container{
        padding: 0 40px;
        @include lg{
            padding: 0 60px;
        }
        @include xl{
            padding: 0 140px;
        }
        max-width: 1920px; 
    }
    transition: 0.3s; 
    &-content{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    align-items: center;
    }

    .logo{
        img{
            object-fit: contain;
            width: 100px;
            @include bsmob{
                width: 135px;
            }
        height: auto;
        }
         a{
             display: inline-block;
         }
    }
}

.fixed-header{
position: fixed;
top:0;
left:0;
right: 0;
}
 