.header {
	z-index: 10;
	transition: 0.3s;

	&__container {
		padding: 0 40px;
		margin-left: auto;
		margin-right: auto;
		max-width: 1220px;

		@include wide-screen-lg {
			max-width: 1720px;
		}
	}

	&-content {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-bg-js {
		background-color: #fff;
	}

	.logo {
		img {
			object-fit: contain;
			width: 100px;

			@include bsmob {
				width: 135px;
			}

			height: auto;
		}

		a {
			display: inline-block;
		}
	}
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.white-header {
	background-color: #fff;
}