.innovation{
	padding: 50px 0 75px;
	background: #2e54d4;
	text-align: center;
	color: #fff;
	&__title{
		font-size: 40px;
		text-transform: none;
		margin: 0;
	}
	&__sub-title{
		font-size: 30px;
		text-transform: none;
		margin: 0;
		padding-bottom: 30px;
	}
	&__block{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
}