 
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px; 
@mixin sm {
  @media (min-width:$sm) {
    @content
  }
}; 
@mixin md {
  @media (min-width:$md) {
    @content
  }
}; 
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
}; 
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
}; 
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};

$light1:#F8F9FC;
$light2:#F8F8F8;
$dark:#061146;
$blue:#2E54D4;
$light-blue:#84ACFD;
 