$s:425px;
$sm: 576px;
$bsMob:693px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


@mixin s {
  @media (min-width:$s) {
    @content
  }
}; 
@mixin sm {
  @media (min-width:$sm) {
    @content
  }
}; 
@mixin md {
  @media (min-width:$md) {
    @content
  }
}; 
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
}; 
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
}; 
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
@mixin bsMob {
  @media (min-width:$bsMob) {
    @content
  }
};

@mixin bsmob{
  @media (min-width:$bsMob) {
    @content
  }
};

$light1: #fcf8fa;
$light2:#F8F8F8; 
$gray:#F8F9FC; 
$dark:#061146;
$blue:#2E54D4;
$light-blue:#84ACFD;
$lightDark:#767575;
$lightGray:#B9B9B9;
