h1,
h2,
h3,
h4 {
  text-align: left;
  position: relative;
}

h2, h3, h4, h5 {
  &.anchor {
    @include xl {
      margin-top: -120px;
    }
  }
}

.article-list {
  li {
    margin-bottom: 2.5rem;
  }
}

.inner-list {
  margin-bottom: 1rem;

  li {
    margin-bottom: 0;
  }
}

.anchor {

  // anchor scrolling to 150px from the top screen
  @include xl {
    padding-top: 150px;
    margin-top: -150px;
  }
}

.article {
  &__nav-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;

    @include sm {
      margin-left: -25px;
      margin-right: -25px;
    }
  }

  &__nav-item {
    width: 100%;
    margin-bottom: 10px;

    @include sm {
      width: 50%;
      margin-bottom: 20px;
      padding-left: 25px;
      padding-right: 25px;
    }

    @include lg {
      width: 33.333%;
    }
  }

  &__table-nowrap {
    thead {
      white-space: nowrap;
    }
    tbody {
      td {
        text-align: right;

        &:first-of-type {
          text-align: left;
        }
      }
    }

    &--sm {
      font-size: 10px;

      td {
        padding: .25rem;
      }
    }
  }
}