.toc {
  @include xl {
    position: sticky;
    top: 0;
  }

  &__list {
    padding-left: 15px;
    list-style: none;
    border-left: 1px solid #e4e2e2;

    &--inner {
      border-left: none;

      @include xl {
        .toc__item a.active::before {
          left: -33px;
        }
      }
    }
  }

  &__item {
    font-size: 14.5px;

    a {
      padding: 5px 0;

      @include xl {
        &::before {
          content: '';
          position: absolute;
          left: -18px;
          top: 0;
          bottom: 0;
          width: 3px;
          background-color: transparent;
        }

        &.active {
          color: $blue;
          text-shadow: 1px 0 0 $blue;
          position: relative;

          &::before {
            background-color: $blue;
          }
        }
      }
    }
  }
}